* {
    box-sizing: border-box;
    text-align: center;
    font-size: 35px;
    margin: 0;
    font-family: 'Raleway', sans-serif;
  }

nav, footer {
    position: fixed;
    width: 100%;
    background-color: #8978fa;
    height: 60px;
}

nav {
    top: 0px;
    left: 0px;

  }

  footer {
    bottom: 0px;
    left: 0px;
  }

section {
    width: 100%;
  }

main {
    margin-top: 60px;
}

h1 {
    padding-top: 20px;
    font-size: 50px;
    font-weight: normal;
    font-family: 'Indie Flower', cursive; 
}

p {
    font-size: 20px;
    text-align: left;
}

.bio > p {
    width: 60%;
    padding: 20px;
}

.hero {
    font-size: 50px;
    font-family: 'Indie Flower', cursive;  
}

.headline, .contact {
    background-color: gray;
}

.specalties{
    height: 300px;
}

.project {
    border: 2px solid black;
    border-radius: 10px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

.hero > img {
    margin-top: 30px;
    height: 200px;
    width: 200px;
    border: 3px solid #8978fa;
    border-radius: 50%;
    
}

.hero > h1 {
    font-size: 60px;
}

.hero > h2 {
    font-size: 30px;
    font-weight: normal;
}

.page-break {
    border-top: 4px dashed #8978fa;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

ul {
    list-style: none;
}

li {
    font-size: 25px;
    display: inline;

}

li:hover {
    color: #78d7fa;
}