* {
    box-sizing: border-box;
    text-align: center;
    font-size: 35px;
    margin: 0;
    font-family: 'Raleway', sans-serif;
  }

nav, footer {
    position: fixed;
    width: 100%;
    background-color: #8978fa;
    height: 50px;
}

nav {

    top: 0px;
    left: 0px;


  }

  footer {
    bottom: 0px;
    left: 0px;
  }

section {
      height: 100px;
      width: 100%;
      padding: 2%;
  }

main {
    margin-top: 50px;
}

h1 {
    padding-top: 20px;
}

p {
    font-size: 20px;
    text-align: left;
}

.bio > p {
    width: 60%;
    padding: 20px;
}

.hero {
    font-size: 50px;
    height: 200px; 
    font-family: 'Indie Flower', cursive;  
}

.headline, .contact {
    background-color: gray;
}

.specalties{
    background-color: darkgray;
    height: 300px;
}

.project {
    border: 2px solid black;
    border-radius: 10px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}